* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(red, #1E272E, lime);
    width: 100vw;
    height: 100vh;
}

//.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 300px;
    margin-top: -100px;
}
.box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
    font-size: 35px;
    margin-bottom: 30px;
    color: #FFF;
}

//.box-input {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-url {
    padding: 12px 20px;
    text-align: center;
    outline: transparent;
    width: 100%;
    border-radius: 50px;
    font-size: 20px;
    color: #1E272E;
}

.btn {
    padding:  15px 20px;
    width: 400px;
    margin-left: 0px;
    border-radius: 15px;
    background-color: lime;
    font-size: 20px;
    color: #FFFFFF;
}

.btn:hover {
    transition: .5s;
    background-color: #FAC800;
}